body{
    background-color: rgb(156, 25, 173);

}

.bussy{
    position: absolute;
    top: 0%; /* Adjust the top position */
    left: 5%; /* Adjust the left position */
}
.thicclatinas{
    position: absolute;
    top: 0%;
    left: 60%;
}
.dick{
    position: absolute;
    left: 8%;
}
.gaysex{
    position: absolute;
    left: 70%;
}